<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Джедайский.Клуб ✖️‍{% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-limited">
            <img src="{% static "images/logo/logo-1024.png" %}" alt="">
            <div class="landing-title" style="text-align: center;">
                <h1 style="line-height: 1.2em;">Джедайский Клуб</h1>
                <p>Береги свое мыслетопливо</p>
                <a href="{% url "login" %}" class="button button-black">Войти</a>
            </div>
        </div>

        <div class="landing-block landing-block-narrow" id="why">
            <div>
                <h2>ЗАЧЕМ</h2>

                <p>
                    Я понял, что хочу запустить сообщество вокруг тех, кто хочет разобраться со своими тараканами и подружиться со своей обезьяной.
                </p>
                <p>
                    В основе Клуба лежат три предположения.
                </p>
                <div class="landing-block landing-block-limited">
                    <div class="landing-block-40">
                        <img src="{% static "images/landing/knowledge.png" %}" />
                    </div>
                    <div class="landing-block-20" style="min-width: 10%;">
                        &nbsp;
                    </div>
                    <div class="landing-block-40">
                        <p>
                            <h3>Большинство людей уже все знают</h3>
                            Мы не про контент и не про какое-то сакральное знание, которое есть только здесь и больше нигде.
                        </p>
                    </div>
                </div>

                <div class="landing-block landing-block-limited">
                    <div class="landing-block-40">
                        <p>
                            <h3>Знать <> делать</h3>
                            Недостаток знания редко бывает главной проблемой. Недостаток действий подводит чаще...
                        </p>
                    </div>
                    <div class="landing-block-20" style="min-width: 10%;">
                        &nbsp;
                    </div>
                    <div class="landing-block-40">
                        <img src="{% static "images/landing/whatdoiuse.png" %}" />
                    </div>
                </div>

                <div class="landing-block landing-block-limited">
                    <div class="landing-block-40">
                        <img src="{% static "images/landing/nowtalk.png" %}" />
                    </div>
                    <div class="landing-block-20" style="min-width: 10%;">
                        &nbsp;
                    </div>
                    <div class="landing-block-40">
                        <p>
                            <h3>Осмысление - ключ к применению</h3>
                            А одна из форм осмысления - это ведение дискуссии.
                        </p>
                    </div>
                    <h3>И вот этим мы здесь и занимаемся.</h3>
                </div>

                <p>
                    Клуб называется Джедайским не потому, что у нас тут у всех медиахлорианы в крови (хотя у некоторых наверняка есть).
                    Это название когда-то давно совершенно случайно прилипло к моим докладам, я не доглядел и через некоторое время оторвать его было уже невозможно.
                    А после публикации книг, этот термин и связанные с ним ассоциации из вселенной Звездных Войн намертво прилипли к тому, чем я занимаюсь,
                    тем более все равно более удачного названия своему занятию я не придумал, а нам порой бывает так сложно без ярлыков...
                </p>

                <div class="landing-block landing-block-limited">
                    <div class="landing-block-40">
                        <a href="https://links.mnogosdelal.ru/book" target="_blank"><img src="{% static "images/landing/jeditechcover.png" %}" /></a>
                    </div>
                    <div class="landing-block-20" style="min-width: 10%;">
                        &nbsp;
                    </div>
                    <div class="landing-block-40">
                        <a href="https://links.mnogosdelal.ru/JediWay" target="_blank"><img src="{% static "images/landing/jediwaycover.png" %}" /></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="landing-block landing-block-narrow" id="join">
            <div>
                <h2 class="landing-block-title">Как вступить?</h2>

                <img src="{% static "images/landing/dolor.png" %}" alt="$1" class="landing-dolor">

                <ul>
                    <li>Членство в Клубе платное. Это позволяет нам оставаться независимыми от мнения инвесторов и рекламодателей. Ну и мне на новый мотоцикл останется...</li>
                    <li>Мы не пускаем анонимов. Вам придется заполнить профиль и рассказать о себе. Довольно подробно.</li>
                    <li>Позже сюда я добавлю еще один принцип... Ну вы поняли...</li>
                </ul>

                <br>

                <p>
                    <a href="{% url "join" %}" class="button button-black button-big">Вступить в Клуб</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://mnogosdelal.ru" target="_blank">Максим Дорофеев</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="{% url "docs" "contact" %}">Связаться с нами</a>
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            Клуб работает на платформе  <a href="https://github.com/vas3k/vas3k.club" target="_blank">Вастрика</a>
            <br><br><hr />
            <div style ="font-size: 0.6em;">ИП Дорофеев Максим Сергеевич, ОГРНИП: 313774624400495</div>
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
