{% extends "layout.html" %}

{% block menu %}{% endblock %}

{% block content %}
    <div class="content join">
        <div class="join-title"><a href="{% url "index" %}">Вступить в Клуб 🎩</a></div>

        <div class="join-description">
            Всегда рады новым членам! Напоминаем, у нас тут не любят анонимов, поэтому мы просим всех новичков заполнить профиль и честно рассказать о себе.
            <br><br>
            Отделаться простой отпиской не получится. Перед тем, как мы допустим Вас к общению с людьми, прошедшими модерацию профиля, мы сначала промодерируем ваш и можем попросить что-то уточнить или описать подробнее.
            <br><br>
            Также надеемся, что вы согласны с нашими <a href="{% url "docs" "about" %}" target="_blank">правилами</a>.
        </div>

        <div class="join-description">
            <a href="{% url "login" %}">Войти</a>.
        </div>
    </div>
{% endblock %}
